<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>机组修改</title>
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
    <div class="Hui-article" id="app">
        <article class="cl pd-20">
            <form action="" method="post" class="form form-horizontal" id="form">
                <!--<input type="hidden" name="ID" />-->
                <!--<input type="hidden" name="ID" value="Request.QueryString["id"]" />-->
                <input type="hidden" name="ID" v-model="test[0].ID" />
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>主机/附机编号：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="Number" name="Number" v-model="test.Number">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>机组编号：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="UnitNumber" name="UnitNumber" v-model="test.UnitNumber">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>主机/附机类型：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="Type" name="Type" v-model="test.Type">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>设备名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="FacilityName" name="FacilityName" v-model="test.FacilityName">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>设备位号：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="BitNumber" name="BitNumber" v-model="test.BitNumber">
                    </div>
                </div>



                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>功率（KW）：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="Power" name="Power" v-model="test.Power">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>转速（rpm）：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="RotateSpeed" name="RotateSpeed" v-model="test.RotateSpeed">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>流量：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="Flow" name="Flow" v-model="test.Flow">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>出口压力：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="Pressure" name="Pressure" v-model="test.Pressure">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>出口温度：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="Temperature" name="Temperature" v-model="test.Temperature">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">机组or机泵：</label>
                    <div class="check-box">
                        <input type="radio" id="IsSiren" name="UnitOrPump" v-model="test.UnitOrPump" value="0" />
                        机泵
                        <!--value="启用"value="停用"-->
                    </div>
                    <div class="check-box">
                        <input type="radio" id="IsSiren" name="UnitOrPump" v-model="test.UnitOrPump" value="1" />
                        机组
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" v-on:click="add(test.ID,test.Number,test.UnitNumber,test.Type,test.FacilityName,test.BitNumber,test.Power,test.RotateSpeed,test.Flow,test.Pressure,test.Temperature,test.UnitOrPump)" type="button" value="提交">
                    </div>

                </div>
            </form>
        </article>
    </div>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.page.js"></script>

    <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>

    <script src="../../Scripts/GetParse.js"></script>



    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.7/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.17/vue-resource.js"></script>
    <script src="../../Scripts/axios.js"></script>

    <script type="text/javascript">

        var vm = new Vue({
            el: "#app",
            methods:
            {
                //保存
                add: function (ID, Number, UnitNumber, Type, FacilityName, BitNumber, Power, RotateSpeed, Flow, Pressure, Temperature, UnitOrPump) {
                    var params = new URLSearchParams();
                    params.append('ID', ID);
                    params.append('Number', Number);
                    params.append('UnitNumber', UnitNumber);
                    params.append('Type', Type);
                    params.append('FacilityName', FacilityName);
                    params.append('BitNumber', BitNumber);
                    params.append('Power', Power);
                    params.append('RotateSpeed', RotateSpeed);
                    params.append('Flow', Flow);
                    params.append('Pressure', Pressure);
                    params.append('Temperature', Temperature);
                    params.append('UnitOrPump', UnitOrPump);
                    axios.post('http://localhost:8066/Host/AddHost', params).then(
                        (response) => {
                            alert(response)
                            alert("添加成功")
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },


            },
            computed: {
            }


        });

       
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>

