<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <link href="../../Conntent/style.css" rel="stylesheet" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>机泵添加</title>
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>

    <!--_header 作为公共模版分离出去-->
    <header class="navbar-wrapper">
        <div class="navbar navbar-fixed-top">
            <div class="container-fluid cl">
                <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/aboutHui.shtml">智能工厂管理系统</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/aboutHui.shtml"></a> <span class="logo navbar-slogan f-l mr-10 hidden-xs"></span> <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
                <nav class="nav navbar-nav">

                </nav>
                <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                    <ul class="cl">
                        <li></li>
                        <li class="dropDown dropDown_hover">
                            <label id="uname"></label>
                            <a href="#" class="dropDown_A"> <i class="Hui-iconfont">&#xe6d5;</i></a>
                            <ul class="dropDown-menu menu radius box-shadow">

                                <li><a href="login.html">切换账户</a></li>
                                <li><a href="#">退出</a></li>
                            </ul>
                        </li>


                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--/_header 作为公共模版分离出去-->
    <!--_menu 作为公共模版分离出去-->
    <aside class="Hui-aside">
        <div id="Permision_List" class="menu_dropdown bk_2">

        </div>
    </aside>
    <div class="dislpayArrow hidden-xs"> <a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a> </div>
    <!--/_menu 作为公共模版分离出去-->

    <section class="Hui-article-box" style="background-color:azure">
        <div class="Hui-article" style="margin-left:40px;">

            <article class="cl pd-20" id="pumpAdd">
                <div class="messageBox" style="padding-top:45px;"></div>
                <input type="hidden" name="ID" id="pumpid" value="" />
                <h3>机泵配置</h3>
                <form action="" method="post" class="form form-horizontal" id="formData" style="margin-left:30px;">
                    <div class="row cl">
                        <div>
                            <input class="btn btn-primary radius" onclick="add()" type="button" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
                        </div>
                    </div>
                    <div class="row cl">
                        <label>主机名称:</label>
                        <select name="HostName">
                            <option v-for="host in main" value="{{host.UnitNumber}}">{{host.FacilityName}}</option>
                        </select>
                        <label>附机名称：</label>
                        <select name="ArrachName">
                            <option v-for="host in attach" value="{{host.UnitNumber}}">{{host.FacilityName}}</option>
                        </select>
                    </div>
                    <div class="row cl">
                        <label>所属装置：</label>
                        <select name="Device">
                            <option value="">==请选择==</option>
                        </select>

                        <label>机泵编号：</label>

                        <input type="text" autocomplete="off" value="" placeholder="机泵编号" id="" name="PumpNumber">


                        <label>机泵名称：</label>
                        <input type="text" autocomplete="off" value="" placeholder="机泵名称" id="" name="PumpName">
                        <input type="hidden" name="Principal" value="" />
                    </div>
                    <div class="row cl">
                        <label>机泵描述：</label>

                        <textarea placeholder="机泵描述" id="" name="Describe"></textarea>
                    </div>
                    <div class="row cl">
                        <label>结构图：</label>

                        <input type="file" placeholder="" id=""
                               name="file">
                        <input type="button" value="上传" id="file1" />

                    </div>
                    <div class="row cl">
                        <label>结构图预览：</label>
                        <input type="hidden" name="StructureImg" id="StructureImg" />
                        <img src="" id="fileImg" style="width:200px;height:120px;" />
                    </div>

                </form>

                <div id="app" style="float:none;margin-top:70px;margin-bottom:100px;">

                    <div>
                        <h4>主机/附机列表</h4>
                        <span class="l">  <a href="#" onclick="addhost()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新增</a> </span>
                        <table class="table table-border table-bordered table-bg table-hover table-sort">
                            <thead>
                                <tr class="text-c">
                                    <th width="80">类型</th>
                                    <th width="80">设备名称</th>
                                    <th width="80">设备位号</th>
                                    <th width="80">功率(KW)</th>
                                    <th width="80">转速(rpm)</th>
                                    <th width="80">流量(m3/h)</th>
                                    <th width="80">出口压力(MPa)</th>
                                    <th width="80">出口温度(C)</th>
                                    <th width="80">操作</th>
                                </tr>
                                <tr v-for="host in hosts" class="text-c">
                                    <th>{{host.Type}}</th>
                                    <th>{{host.FacilityName}}</th>
                                    <th>{{host.BitNumber}}</th>
                                    <th>{{host.Power}}</th>
                                    <th>{{host.RotateSpeed}}</th>
                                    <th>{{host.Flow}}</th>
                                    <th>{{host.Pressure}}</th>
                                    <th>{{host.Temperature}}</th>
                                    <th><a href="javascript:void(0);" onclick="unit_edit({{host.ID}})">编辑</a> | <a href="javascript:void(0);" v-on:click="DelectHost(host.ID)">删除</a></th>
                                </tr>

                        </table>
                        <div class="page-bar">
                            <ul>
                                <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
                                <li v-if="cur==1"><a class="banclick">上一页</a></li>
                                <li v-for="index in indexs" v-bind:class="{ 'active': cur == index}">
                                    <a v-on:click="btnClick(index)">{{index}}</a>
                                </li>
                                <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
                                <li v-if="cur == all"><a class="banclick">下一页</a></li>
                                <li><a>共<i>{{all}}</i>页</a></li>
                            </ul>
                        </div>
                    </div>

                    <div style="margin-top:80px;">
                        <h4>子系统列表</h4>
                        <span class="l">  <a href="#" onclick="addsubfamily()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新增</a> </span>
                        <table class="table table-border table-bordered table-bg table-hover table-sort">
                            <tr>
                            <tr class="text-c">
                                <th width="100">名称</th>
                                <th width="400">功能描述</th>
                                <th width="80">操作</th>
                            </tr>
                            <tr v-for="subfamily in subfamilys" class="text-c">
                                <th>{{subfamily.Name}}</th>
                                <th>{{subfamily.Describe}}</th>
                                <th><a href="javascript:void(0);" onclick="update({{subfamily.ID}})">编辑</a> | <a href="javascript:void(0);" v-on:click="DelectSubfamily(subfamily.ID)">删除</a></th>
                            </tr>
                        </table>
                        <div class="page-bar">
                            <ul>
                                <li v-if="cur2>1"><a v-on:click="cur2--,page2Click()">上一页</a></li>
                                <li v-if="cur2==1"><a class="banclick">上一页</a></li>
                                <li v-for="index in indxs" v-bind:class="{ 'active': cur2 == index}">
                                    <a v-on:click="btn2Click(index)">{{ index }}</a>
                                </li>
                                <li v-if="cur2!=all2"><a v-on:click="cur2++,page2Click()">下一页</a></li>
                                <li v-if="cur2 == all2"><a class="banclick">下一页</a></li>
                                <li><a>共<i>{{all2}}</i>页</a></li>
                            </ul>
                        </div>
                    </div>

                    <div style="margin-top:80px;">
                        <h4>测点列表</h4>
                        <span class="l">  <a href="#" onclick="addstation()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新增</a> </span>
                        <table class="table table-border table-bordered table-bg table-hover table-sort">
                            <thead>
                                <tr class="text-c">
                                    <th width="80">测点名称</th>
                                    <th width="80">测点编号</th>
                                    <th width="80">计量单位</th>
                                    <th width="80">小数位数</th>
                                    <th width="80">采集方式</th>
                                    <th width="80">位号</th>
                                    <th width="80">操作</th>
                                </tr>
                                <tr v-for="station in stations" class="text-c">
                                    <th>{{station.StationName}}</th>
                                    <th>{{station.StationNumber}}</th>
                                    <th>{{station.Measurement}}</th>
                                    <th>{{station.DecimalPlace}}</th>
                                    <th>{{station.ADMode}}</th>
                                    <th>{{station.BitNumber}}</th>
                                    <th><a href="javascript:void(0);" onclick="updatesta({{station.ID}})">编辑</a> | <a href="javascript:void(0);" v-on:click="DelectStation(station.ID)">删除</a></th>
                                </tr>
                        </table>
                        <div class="page-bar">
                            <ul>
                                <li v-if="cur3>1"><a v-on:click="cur3--,page3Click()">上一页</a></li>
                                <li v-if="cur3==1"><a class="banclick">上一页</a></li>
                                <li v-for="index in indes" v-bind:class="{ 'active': cur3 == index}">
                                    <a v-on:click="btn3Click(index)">{{index}}</a>
                                </li>
                                <li v-if="cur3!=all3"><a v-on:click="cur3++,page3Click()">下一页</a></li>
                                <li v-if="cur3 ==all3"><a class="banclick">下一页</a></li>
                                <li><a>共<i>{{all3}}</i>页</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </article>

        </div>
    </section>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>

    <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
 
    <script src="../../Scripts/GetParse.js"></script>
    <script src="../../Scripts/vue.min.js"></script>
    <script src="../../Scripts/axios.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.7/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.17/vue-resource.js"></script>
    <script src="../../Scripts/message.js"></script>
    <script type="text/javascript">
        $(function () {
            $("[name=Principal]").val(localStorage.uname);
            $("#uname").text(localStorage.uname);

            //左侧栏
            LeftMenu();
            //显示所属装置
            $.ajax({
                url: 'http://localhost:8066/FacilityArea/GetFactoryAreas',
                type: 'get',
                data: {},
                success: function (res) {
                    $(res).each(function (index, data) {
                        $("select[name=Device]").append("<option value=" + data.AreaNumber + ">" + data.AreaName + "</option>")
                    })

                }
            })
            //上传图片
            $("#file1").click(function () {

                $.ajax({
                    url: "http://localhost:8066/Excel/UpdateFileLoad",
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: new FormData($("#formData")[0]),
                    type: 'POST',
                    success: function (data) {
                        $("#StructureImg").val(data);
                        $("#fileImg").attr("src", "http://localhost:8066/" + data);
                    }

                })

            })
        })
        //添加
        function add() {
            if ($("[name=Device]").val() == "") {
                ShowMessageBox(false, "所属装置不能为空");
                return;
            }
            if ($("[name=PumpNumber]").val() == "") {
                ShowMessageBox(false, "机泵编号不能为空");
                return;
            }

            if ($("[name=PumpName]").val().trim().length == 0) {
                ShowMessageBox(false, "机泵名称不能为空");
                return;
            }

            if ($("[name=StructureImg]").val().trim().length == 0) {
                ShowMessageBox(false, "图片路径不能为空");
                return;
            }

            $.ajax({
                url: "http://localhost:8066/Pump/AddPump",
                type: "post",
                data: $("#formData").serialize(),
                success: function (data) {

                    if (data > 0) {
                        ShowMessageBox(true, "添加成功");
                    }
                    else {
                        ShowMessageBox(false, "添加失败");
                    }
                }
            })
        }

        //修改主机/附机
        function unit_edit(id) {
            layer_show("编辑主机/附机", "host-update.html?id=" + id, 700, 700);
        }
        //修改子系统
        function update(id) {
            layer_show("编辑子系统", "subfamily-update.html?id=" + id, 700, 700);
        }
        //修改测点
        function updatesta(id) {
            layer_show("编辑测点", "station-update.html?id=" + id, 700, 700);
        }
        //添加主机附机
        function addhost() {
            layer_show("添加主机附机", "host-add.html", 700, 700);
        }
        //添加子系统
        function addsubfamily() {
            layer_show("添加子系统", "subfamily-add.html", 700, 700);
        }
        //添加测点
        function addstation() {
            layer_show("添加测点", "station-add.html", 700, 700);
        }
    </script>
    <script>
        var vm = new Vue({
            el: "#pumpAdd",
            data: {
                all: 1,
                cur: 1,
                all2: 1,
                cur2: 1,
                all3: 1,
                cur3: 1
            },
            ready: function () {
                this.getTests();
                this.SubFamily();
                this.Station();
            },
            methods: {
                getTests: function () {
                    //主机
                    this.$http.get('http://localhost:8066/Host/GetHostType?hostType=主机', function (data) {
                        this.$set('main', data);
                    })

                    //附机
                    this.$http.get('http://localhost:8066/Host/GetHostType?hostType=附机', function (data) {
                        this.$set('attach', data);
                    })

                    //主机/附机
                    this.$http.get('http://localhost:8066/Host/GetHosts?page=' + this.cur, function (data) {
                        this.cur = data.PageIndex;
                        this.all = data.PageCount;
                        this.$set('hosts', data.Data);
                    })


                },

                SubFamily: function () {
                    //子系统
                    this.$http.get('http://localhost:8066/SubFamily/GetSubfamiliy?page=' + this.cur2, function (data) {
                        this.cur2 = data.PageIndex;
                        this.all2 = data.PageCount;
                        this.$set('subfamilys', data.Data);
                    })
                },
                Station: function () {
                    //测点
                    this.$http.get('http://localhost:8066/Station/GetStation?page=' + this.cur3, function (data) {
                        this.cur3 = data.PageIndex;
                        this.all3 = data.PageCount;
                        this.$set('stations', data.Data);
                    })
                },
                //删除主机/附机
                DelectHost: function (id) {

                    axios.get('http://localhost:8066/Host/DeleteHost?id=' + id).then(
                        (response) => {
                            if (response.data > 0) {
                                ShowMessageBox(true, "删除成功");
                                this.getTests();
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                //删除子系统
                DelectSubfamily: function (id) {

                    axios.get('http://localhost:8066/SubFamily/DeleteSubfamily?id=' + id).then(
                        (response) => {
                            if (response.data > 0) {
                                ShowMessageBox(true, "删除成功");
                                this.getTests();                              
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                //删除测点
                DelectStation: function (id) {

                    axios.get('http://localhost:8066/Station/DeleteStation?id=' + id).then(
                        (response) => {
                            if (response.data > 0) {
                                ShowMessageBox(true, "删除成功");
                                this.getTests();
                            }
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },

                btnClick: function (data) {//页码点击事件
                    if (data != this.cur) {
                        this.cur = data;
                        this.getTests(data);
                    }
                },
                pageClick: function () {
                    //console.log('现在在' + this.cur + '页');
                    this.getTests(this.cur);
                },


                btn2Click: function (data) {//页码点击事件
                    if (data != this.cur2) {
                        this.cur2 = data;
                        this.SubFamily(data);
                    }
                },
                page2Click: function () {
                    //console.log('现在在' + this.cur + '页');
                    this.SubFamily(this.cur2);
                },


                btn3Click: function (data) {//页码点击事件
                    if (data != this.cur3) {
                        this.cur3 = data;
                        this.Station(data);
                    }
                },
                page3Click: function () {
                    //console.log('现在在' + this.cur + '页');
                    this.Station(this.cur3);
                },
            },
            //计算属性
            computed: {
                //主机/附机计算
                indexs: function () {
                    var left = 1;
                    var right = this.all;
                    var ar = [];
                    if (this.all >= 5) {
                        if (this.cur > 3 && this.cur < this.all - 2) {
                            left = this.cur - 2
                            right = this.cur + 2
                        } else {
                            if (this.cur <= 3) {
                                left = 1
                                right = 5
                            } else {
                                right = this.all
                                left = this.all - 4
                            }
                        }
                    }
                    while (left <= right) {
                        ar.push(left)
                        left++
                    }
                    return ar
                },
                //子系统计算
                indxs: function () {
                    var left = 1;
                    var right = this.all2;
                    var ar = [];
                    if (this.all2 >= 5) {
                        if (this.cur2 > 3 && this.cur2 < this.all2 - 2) {
                            left = this.cur2 - 2
                            right = this.cur2 + 2
                        } else {
                            if (this.cur2 <= 3) {
                                left = 1
                                right = 5
                            } else {
                                right = this.all2
                                left = this.all2 - 4
                            }
                        }
                    }
                    while (left <= right) {
                        ar.push(left)
                        left++
                    }
                    return ar
                },
                //测点计算
                indes: function () {
                    var left = 1;
                    var right = this.all3;
                    var ar = [];
                    if (this.all3 >= 5) {
                        if (this.cur3 > 3 && this.cur3 < this.all3 - 2) {
                            left = this.cur3 - 2
                            right = this.cur3 + 2
                        } else {
                            if (this.cur3 <= 3) {
                                left = 1
                                right = 5
                            } else {
                                right = this.all3
                                left = this.all3 - 4
                            }
                        }
                    }
                    while (left <= right) {
                        ar.push(left)
                        left++
                    }
                    return ar
                }

            },


        })
    </script>
    <script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.page.js"></script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>