<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <link href="../../Conntent/style.css" rel="stylesheet" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>机组修改</title>
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
  
    <div class="Hui-article" id="app">
        <article class="cl pd-20">
            <div class="messageBox"></div>
            <form action="" method="post" class="form form-horizontal" id="form">
                <!--<input type="hidden" name="ID" />-->
                <!--<input type="hidden" name="ID" value="Request.QueryString["id"]" />-->
                <input type="hidden" name="ID" v-model="test[0].ID" />

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>机组/机泵编号：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="UnitNumber" name="UnitNumber" v-model="test.UnitNumber">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>测点名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="StationName" name="StationName" v-model="test.StationName">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>测点编号：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="StationNumber" name="StationNumber" v-model="test.StationNumber">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>计量单位：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="Measurement" name="Measurement" v-model="test.Measurement">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>小数位数：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="DecimalPlace" name="DecimalPlace" v-model="test.DecimalPlace">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>采集方式：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <!--<input type="text" class="input-text" placeholder="" id="ADMode" name="ADMode" v-model="test.ADMode">-->
                        <select class="input-text" v-model="test.ADMode">
                            <option value="自动">自动</option>
                            <option value="手动">手动</option>
                            <option value="半自动">半自动</option>
                        </select>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>设备位号：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <!--<input type="text" class="input-text" placeholder="" id="BitNumber" name="BitNumber" v-model="test.BitNumber">-->
                        <select class="input-text" v-model="test.BitNumber">
                            <option v-for="host in FacilityName" value="{{host.BitNumbers}}">{{host.BitNumbers}}</option>
                        </select>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>所属装置：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <!--<input type="text" class="input-text" placeholder="" id="Device" name="Device" v-model="test.Device">-->
                        <select class="input-text" v-model="test.Device">
                            <option v-for="host in Device" value="{{host.AreaNumber}}">{{host.AreaName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>设备名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="FacilityName" name="FacilityName" v-model="test.FacilityName"> 
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" v-on:click="update(test.ID,test.UnitNumber,test.StationName,test.StationNumber,test.Measurement,test.DecimalPlace,test.ADMode,test.BitNumber,test.Device,test.FacilityName)" type="button" value="提交">
                    </div>

                </div>
            </form>
        </article>
    </div>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.page.js"></script>

    <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script src="../../Scripts/message.js"></script>
    <script src="../../Scripts/GetParse.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.7/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.17/vue-resource.js"></script>
    <script src="../../Scripts/axios.js"></script>

    <script type="text/javascript">

        var vm = new Vue({
            el: "#app",
            data: {
                mainId: getPar("id"),
                apiUrl: 'http://localhost:8066/Station/',
                testdata: {}
            },
            ready: function () {
                this.GetUnit();
                this.GetFacilityArea();
                this.GetFacilityName();
            },
            methods: {
                GetUnit: function () {
                    this.$http.get(this.apiUrl + 'GetById?id=' + this.mainId, function (data) {
                        this.$set('test', data);
                    })
                },
                GetFacilityArea: function () {
                    //所属装置
                    this.$http.get('http://localhost:8066/FacilityArea/GetFactoryAreas', function (data) {
                        this.$set('Device', data);
                    })
                },
                GetFacilityName: function () {
                    //查询设备位号
                    this.$http.get('http://localhost:8066/BitNumber/GetFacilityType', function (data) {
                        this.$set('FacilityName', data);
                    })
                },
                update: function (ID, UnitNumber, StationName, StationNumber, Measurement, DecimalPlace, ADMode, BitNumber,FacilityName, Device) {

                    var params = new URLSearchParams();
                    params.append('ID', ID);
                    params.append('UnitNumber', UnitNumber);
                    params.append('StationName', StationName);
                    params.append('StationNumber', StationNumber);
                    params.append('Measurement', Measurement);
                    params.append('DecimalPlace', DecimalPlace);
                    params.append('ADMode', ADMode);                   
                    params.append('BitNumber', BitNumber);
                    params.append('FacilityName', FacilityName);
                    params.append('Device', Device);
                    axios.post('http://localhost:8066/Station/UpdateStation', params).then(
                        (response) => {
                            console.log(response.data);
                            if (response.data > 0) {
                                ShowMessageBox(true, "修改成功");
                            }
                            //console.info(this.list);
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },

            }

        });




    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>

